@import '~bootstrap/scss/bootstrap';

$calc-color: #c9c3bf;
$display: #cfcfcf;
$border: #262626;
$hover: #b21a1f;
$memory: #438d9e;
$solar: #660f12;
$shadow: 10px 10px 10px 1px #0f0f0f;

h1 {
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 2em;
  font-style: italic;
  margin-left: .5em;
  margin-top: 5%;
}

.btn {
  background-color: $border;
  border-color: $border;
  box-shadow: $shadow;
  color: $calc-color;
  font-size: 3vh;
  height: 5vh;
  margin-bottom: 2px;
  width: 5vw;
}

.calculator {
  background-color: $calc-color;
  border-color: $border;
  border-radius: 8%;
  box-shadow: $shadow;
  height: 90vh;
  margin: 2em auto 5em;
  padding: 2vw;
  width: 23em;
}

.cap {
  display: flex;
  flex-flow: row nowrap;
}

.display {
  background-color: $display;
  border: 5px solid $border;
  border-radius: 5%;
  font-family: 'VT323', block;
  font-size: 5em;
  height: 1em;
  margin: auto;
  text-align: right;
  width: 3.75em;
}

.keypad {
  bottom: 1vh;
  left: 1.5vw;
  width: 80;

  .top-btn {
    height: 2em;
  }

  .main-btn {
    height: 10%;
    width: 10%;
  }
}

.solar {
  background-color: $solar;
  border: .5em solid $border;
  border-radius: 10%;
  border-width: .5em;
  height: 2.25em;
  margin: 5% 0 0 3.25em;
  margin-right: 0;
  width: 8em;

  :hover {
    animation-duration: 3s;
    animation-name: solar-hover;
  }
}

@keyframes solar-hover {
  0% { background-color: $solar; }
  20% { background-color: $hover; }
  40% { background-color: $solar; }
  60% { background-color: $hover; }
  80% { background-color: $solar; }
  100% { background-color: $hover; }
}
