@import '~bootstrap/scss/bootstrap';

$calc-color: #c9c3bf;
$display: #fff;
$border: #262626;
$hover: #b21a1f;
$memory: #438d9e;
$solar: #660f12;
$shadow: #0f0f0f;


.calculator {
  background-color: $calc-color;
  border: 1px solid $border;
  border-radius: 8%;
  box-shadow: 10px 10px 10px 1px $shadow;
  height: 92vh;
  margin: 2em auto 5em;
  padding: 2vw;
  width: 25em;
}

.cap {
  display: flex;
  flex-flow: row nowrap;
  margin-left: 1.25em;

  h1 {
    font-family: 'IBM Plex Mono', sans-serif;
    font-size: 2em;
    font-style: italic;
    margin-left: .5em;
    margin-top: 5%;
  }

  .solar {
    background-color: $solar;
    border: .5em solid $border;
    border-radius: 10%;
    border-width: .5em;
    height: 2.5em;
    margin: 5% 0 0 3.25em;
    margin-right: 0;
    width: 8em;
  }
}

.display {
  background-color: $display;
  border: 5px solid $border;
  border-radius: 5%;
  font-family: 'VT323', monospace;
  font-size: 5em;
  height: 1.25em;
  margin: auto;
  text-align: right;
  width: 3.75em;
}

.keypad {
  margin: auto;
  margin-bottom: 2%;
  padding: 1em;
  width: 90%;

  .btn {
    background-color: $border;
    border: .1em solid $calc-color;
    border-radius: 15%;
  }

  .clear {
    background-color: $solar;
  }

  .main-btn {
    height: 9vh;
    width: 8vh;
  }

  .memory {
    background-color: $memory;
    height: 9vh;
    width: 5vh;
  }

  .top-btn {
    font-size: .8em;
    height: 4vh;
  }
}
